<div class="d-flex justify-content-center align-items-center" style="height: 100vh; width: 100%;">
    <div class="d-flex flex-column align-items-center bg-light rounded p-4" style="width: 300px;">
        <h1>Tarea 1</h1>
        <p class="text-justify">Cree un programa donde se calcule la potencia x^y. Se debe recibir la base y la
            potencia, y no se puede utilizar el objeto Math. Imprima el resultado.</p>
        <form class="d-flex flex-column align-items-center" action="" id="form-exercise-13">
            <input class="form-control m-1" id="base" type="number" step="0.1" placeholder="Ingrese el valor de la base"
                required>
            <input class="form-control m-1" id="potencia" type="number" step="0.1"
                placeholder="Ingrese el valor de la potencia" required>
            <button type="submit" class="btn btn-primary m-2" style="width: 100%;">Calcular</button>
        </form>
        <p id="result"></p>
    </div>
</div>