<div class="d-flex justify-content-center align-items-center" style="height: 100vh; width: 100%;">
    <div class="d-flex flex-column align-items-center bg-light rounded p-4" style="width: 300px;">
        <h1>Tarea 2</h1>
        <p class="text-justify">Calcule el área de un círculo (se debe pedir al usuario los datos para el cálculo). Imprima el resultado.</p>
        <form class="d-flex flex-column align-items-center" action="" id="form-exercise-8">
            <input class="form-control" id="input_number" type="number" step="0.1" placeholder="Ingrese el radio del círculo" required>
            <button type="submit" class="btn btn-primary m-2" style="width: 100%;">Calcular</button>
        </form>
        <p id="result"></p>
    </div>
</div>
