<div class="d-flex justify-content-center align-items-center" style="height: 100vh; width: 100%;">
    <div class="d-flex flex-column align-items-center bg-light rounded p-4" style="width: 300px;">
        <h1>Tarea 3</h1>
        <p class="text-justify">Realice un programa que reciba un número y que determine si es par o impar. Imprima el resultado.</p>
        <form class="d-flex flex-column align-items-center" action="" id="form-exercise-2">
            <input class="form-control m-2" id="input_number" type="number" step="0.1" placeholder="Ingrese un nùmero" required>
            <button type="submit" class="btn btn-primary m-2" style="width: 100%;">Calcular</button>
        </form>
        <p id="result"></p>
    </div>
</div>